<footer class="site-footer">
  <div class="logo">
    <img src="image/logo/Logo.svg" alt="becaude music " />
  </div>
  <div class="listes-nav">
    <div class="nav">
      <h2>Menu</h2>
      <nav class="list">
        <li><a href="">ARTISTS</a></li>
        <li><a href="">RELEASES</a></li>
        <li><a href="">NEWS</a></li>
        <li><a href="">LIVE</a></li>
        <li><a href="">STORE</a></li>
        <li><a href="">ABOUT</a></li>
      </nav>
    </div>

    <div class="nav">
      <h2>Contact</h2>
      <nav class="list">
        <li><a href="">info@because.tv</a></li>
        <li><a href="">demos@because.tv</a></li>
      </nav>
    </div>

    <div class="nav">
      <h2>Social & Streaming</h2>
      <nav class="list-row">
        <img src="./image/icons/facebook.svg" alt="facebook" />
        <img src="./image/icons/instagram.svg" alt="instagram" />
        <img src="./image/icons/tiktok.svg" alt="tiktok" />
        <img src="./image/icons/youtube.svg" alt="youtube" />
        <img src="./image/icons/spotify.svg" alt="spotify" />
        <img src="./image/icons/music.svg" alt="apple music" />
      </nav>
    </div>
  </div>
  <div class="liens">
    <nav class="lien">
      <li><a href="">Cookie Policy</a></li>
      <p>–</p>
      <li><a href="">Privacy Policy</a></li>
      <p>–</p>
      <li><a href="">Personal Data Protection Policy</a></li>
      <p>–</p>
      <li><a href="">Data Controllers and Cookie Deposit</a></li>
      <p>–</p>
      <li><a href="">Website by Yelyzaveta Piatkova</a></li>
    </nav>

    <nav class="lien">
      <li><a href="">© Because Music — 2025</a></li>
    </nav>
  </div>
</footer>
