<div class="releases">
  <h2>Releases</h2>

  <div class="crew-carousel">
    <div class="crew-track">
      <div class="crew-card" data-index="0">
        <img src="image/releases:homepage/img4.jpeg" alt="Crew Member 1" />
        <div class="info">
          <h3>RnBoi</h3>
          <p>MON BÉBÉ</p>
        </div>
      </div>
      <div class="crew-card" data-index="1">
        <img src="image/releases:homepage/img5.jpeg" alt="Crew Member 2" />
        <div class="info">
          <h3>Amadou & Mariam</h3>
          <p>L'amour</p>
        </div>
      </div>
      <div class="crew-card" data-index="2">
        <img src="image/releases:homepage/img6.jpeg" alt="Crew Member 3" />
        <div class="info">
          <h3>clubb29</h3>
          <p>PESETAS</p>
        </div>
      </div>
      <div class="crew-card" data-index="3">
        <img src="image/releases:homepage/img7.jpeg" alt="Crew Member 4" />
        <div class="info">
          <h3>LB aka LABAT, Memphis LK</h3>
          <p>Fixated</p>
        </div>
      </div>
      <div class="crew-card" data-index="4">
        <img src="image/releases:homepage/img1.jpeg" alt="Crew Member 5" />
        <div class="info">
          <h3>Lolo Zouaï</h3>
          <p>3AM in San Francisco</p>
        </div>
      </div>
      <div class="crew-card" data-index="5">
        <img src="image/releases:homepage/img2.jpeg" alt="Crew Member 6" />
        <div class="info">
          <h3>PENNY</h3>
          <p>Shadow Dancing</p>
        </div>
      </div>
      <div class="crew-card" data-index="5">
        <img src="image/releases:homepage/img3.jpeg" alt="Crew Member 7" />
        <div class="info">
          <h3>Alewya</h3>
          <p>Night Drive</p>
        </div>
      </div>
    </div>
  </div>

  <div class="crew-dots">
    <div class="crew-dot active" data-index="0"></div>
    <div class="crew-dot" data-index="1"></div>
    <div class="crew-dot" data-index="2"></div>
    <div class="crew-dot" data-index="3"></div>
    <div class="crew-dot" data-index="4"></div>
    <div class="crew-dot" data-index="5"></div>
    <div class="crew-dot" data-index="6"></div>
    <div class="crew-dot" data-index="7"></div>
  </div>
  <button>See all realeases</button>
</div>
