* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #e13100;
}

.site-header {
  background: url(../image/background/myd.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.nav {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #0a0a0a;
}
a {
  color: #fff;
  text-align: center;
  font-family: Krub;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

.introdution {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: absolute;
  left: 160px;
  right: 41.5%;
  bottom: 21%;
  backdrop-filter: blur(10px);
}

.intro {
  display: flex;
  width: 450.373px;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.introdution h1 {
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  font-family: "JHC Audemars";
  font-size: 110px;
  font-style: italic;
  font-weight: 700;
  line-height: 105%; /* 115.5px */
  letter-spacing: 11px;
  text-transform: uppercase;
}
.intro p {
  color: #fff;
  text-align: right;
  font-family: Krub;
  font-size: 18px;
}

.intro button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 0;
  color: #0a0a0a;
  text-align: center;
  font-family: Krub;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
}

.stats-card {
  display: flex;
  padding: 120px 160px 40px 160px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  background: #0a0a0a;
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #fff;
}
.stats .value {
  color: #fff;
  font-family: Krub;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.stats .label {
  color: #fff;
  text-align: center;
  font-family: Krub;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.3;
}

.forms.orange {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background-color: #0a0a0a;
  margin-top: -1px;
}

.artists h2 {
  color: #fff;
  font-family: Krub;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 120px 160px 60px 160px;
}

.card {
  position: relative;
  min-height: 455px;
  aspect-ratio: 1;
  flex: 1 0 0;
}

.card img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.card .content {
  content: "";
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 13.79%, #0a0a0a 100%);
  width: 100%;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.card .content h3 {
  color: #fff;
  font-family: Krub;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
}

.card-artists {
  display: flex;

  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
  gap: 0px;
  width: 100%;
  background-color: #0a0a0a;
}

.forms.blue {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-top: -80px;
  position: relative;
  z-index: 10;
}

.releases {
  background: #00cfc7;
}

.releases h2 {
  color: #0a0a0a;
  font-family: Krub;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 120px 160px 60px 160px;
}
