* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #e13100;
}

.site-header {
  background: url(../image/background/myd.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.nav {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #0a0a0a;
}
a {
  color: #fff;
  text-align: center;
  font-family: Krub;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}

.introdution {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  position: absolute;
  left: 160px;
  max-width: 678px;
  right: 160px;
  bottom: 21%;
}

.site-header .intro {
  display: flex;
  max-width: 450.373px;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.introdution h1 {
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  font-family: "JHC Audemars";
  font-size: 110px;
  font-style: italic;
  font-weight: 700;
  line-height: 105%; /* 115.5px */
  letter-spacing: 11px;
  text-transform: uppercase;
}
.intro p {
  color: #fff;
  text-align: right;
  font-family: Krub;
  font-size: 18px;
}

.intro button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 0;
  color: #0a0a0a;
  text-align: center;
  font-family: Krub;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
}

.stats-card {
  display: flex;
  padding: 120px 160px 40px 160px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  background: #0a0a0a;
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #fff;
}
.stats .value {
  color: #fff;
  font-family: Krub;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.stats .label {
  color: #fff;
  text-align: center;
  font-family: Krub;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.3;
}

.forms.orange {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background-color: #0a0a0a;
  margin-top: -1px;
}

.artists h2 {
  color: #fff;
  font-family: Krub;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 120px 160px 60px 160px;
}

.card {
  position: relative;
  min-height: 455px;
  aspect-ratio: 1;
  flex: 1 0 0;
}

.card img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.card:hover img {
  filter: grayscale(100%) blur(10px) brightness(0.5);
}
.card .content {
  content: "";
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(10, 10, 10, 0) 13.79%, #0a0a0a 100%);
  width: 100%;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card .description {
  color: var(--color-white-100, #fff);
  text-align: left;
  font-family: Krub;
  font-size: 18px;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card:hover .description {
  opacity: 1;
  visibility: visible;
}

.card .content h3 {
  color: #fff;
  font-family: Krub;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
}

.card-artists {
  display: flex;

  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
  gap: 0px;
  width: 100%;
  background-color: #0a0a0a;
}

.forms.blue {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-top: -79px;
  position: relative;
  z-index: 10;
}

.releases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00cfc7;
  padding: 120px 0px 60px;
  gap: 60px;
}

.releases .titre {
  display: flex;
  padding: 0px 160px;
  padding-bottom: 30px;
  align-self: stretch;
}

.releases h2 {
  color: #0a0a0a;
  font-family: Krub;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.crew-carousel {
  width: 100%;
  height: 450px;
  position: relative;
}

.crew-track {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.crew-card h3 {
  color: var(--color-black-100, #0a0a0a);
  font-family: Krub;
  font-size: var(--type-20, 20px);
  font-weight: 500;
  text-transform: uppercase;
}

.crew-card p {
  overflow: hidden;
  color: var(--color-black-100, #0a0a0a);
  font-family: Krub;
  font-size: var(--type-18, 18px);
}

.crew-card {
  position: absolute;
  width: 280px;
  height: 380px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  transition: all 0.8s ease;
  cursor: pointer;
  display: flex;
  width: 290px;
  height: 475px;
  padding: var(--espace-10, 10px);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--espace-20, 20px);
  backdrop-filter: blur(40px);
  background: var(--color-white-10, rgba(255, 255, 255, 0.1));
  box-shadow: 0 12px 11px 0 rgba(0, 0, 0, 0.25);
}

.crew-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.crew-card.center {
  z-index: 10;
  transform: scale(1.1);
  z-index: 5;
}

.crew-card.left-1 {
  transform: translateX(-300px) scale(0.9);
  opacity: 0.9;
  filter: grayscale(80%);
  background: var(--color-white-10, rgba(255, 255, 255, 0.1));
  box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.25);
  z-index: 4;
}

.crew-card.left-2 {
  transform: translateX(-560px) scale(0.8);
  opacity: 0.9;
  filter: grayscale(100%);
  background: var(--color-white-10, rgba(255, 255, 255, 0.1));
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.crew-card.right-1 {
  transform: translateX(300px) scale(0.9);

  opacity: 0.9;
  filter: grayscale(80%);
  background: var(--color-white-10, rgba(255, 255, 255, 0.1));
  box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.crew-card.right-2 {
  transform: translateX(560px) scale(0.8);
  opacity: 0.9;
  filter: grayscale(100%);
  background: var(--color-white-10, rgba(255, 255, 255, 0.1));
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.crew-card.hidden {
  opacity: 0;
  pointer-events: none;
}

.crew-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.crew-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(52, 123, 120, 0.5); /* orange tint */
  cursor: pointer;
}

.crew-dot.active {
  background: #fff;
}

.crew-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(204, 85, 0, 0.7); /* orange base */
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.releases button {
  display: flex;
  padding: 17px 30px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: var(--color-black-100, #0a0a0a);
  text-align: center;
  font-family: Krub;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.forms.noir {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--color-bleu-100, #00cfc7);
  margin-top: -1px;
}

.news {
  display: flex;
  padding: 120px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background: var(--color-black-100, #0a0a0a);
}

.news .conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.news .content {
  display: flex;
  padding: 0px 70px;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
}

.news .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  flex: 1 0 0;
}

.news h3 {
  color: #fff;
  font-family: Krub;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.news .titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
}

.news h2 {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-family: "JHC Audemars";
  font-size: 110px;
  font-style: italic;
  font-weight: 700;
  line-height: 112%;
  letter-spacing: 11px;
  text-transform: uppercase;
  align-self: stretch;
}

.news p {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-family: Krub;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  width: 555px;
}

.news img {
  width: 40%;
  height: 100%;
  height: auto;
  object-fit: cover;
}

.news button {
  display: flex;
  padding: 17px 30px;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #e13100;
  text-align: center;
  font-family: Krub;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.forms.noir.reverse {
  background-color: var(--color-bleu-100, #e13100);
  transform: scaleY(-1);
}

.form-wrap {
  display: flex;
  padding: 40px 160px 120px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.formulaire {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 60px;
  align-self: stretch;
}

.title {
  color: var(--color-white-100, #fff);
  font-family: Krub;
  font-size: var(--type-48, 48px);
  font-weight: 700;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  align-self: stretch;
}

.row.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.field label {
  display: table;
  padding: 0 20px;
  margin-bottom: -13px;
  left: 20px;
  position: relative;
  background-color: #e13100;
  color: var(--color-white-100, #fff);
  font-family: Krub;
  font-size: var(--type-20, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.field input,
.field textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: transparent;
  border: 2px solid var(--color-white-100, #fff);
  height: 56px;
  width: 100%;
  padding: 10px 20px;
}

.field input::placeholder,
.field textarea::placeholder {
  color: #fff;
  opacity: 50%;
  font-family: Krub;
  font-size: var(--type-14, 14px);
}

.field textarea {
  height: 160px;
}

.counter {
  color: var(--color-white-100, #fff);
  text-align: right;
  font-family: Krub;
  font-size: 12px;
  padding: 10px 20px;
  line-height: var(--Body-Small-Line-Height, 16px); /* 133.333% */
  letter-spacing: var(--Body-Small-Tracking, 0.4px);
}

.upload {
  height: 160px;
  margin-top: 13px;
}
.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
  border: 2px dashed var(--color-white-100, #fff);
}

.upload-label {
  color: var(--color-white-100, #fff);
  text-align: center;
  font-family: Krub;
  font-size: var(--type-18, 18px);
  font-weight: 600;
}

/* Custom file button */
.upload input[type="file"] {
  display: none;
}

.upload-btn {
  border: 1px solid var(--color-white-100, #fff);
  padding: 10px 24px;
  color: #fff;
  text-align: center;
  font-family: Krub;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 0;
  position: relative;
}

.checkbox span {
  color: var(--color-white-100, #fff);
  font-family: Krub;
  font-size: var(--type-18, 18px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.checkbox input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #ffffff;
}

.submit {
  display: flex;
  padding: 17px 30px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 820px) {
  .row.two {
    grid-template-columns: 1fr;
  }
  .submit {
    width: 100%;
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 120px 148px;
  background: #0a0a0a;
  color: #fff;
}
.site-footer .listes-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.site-footer .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--espace-20, 20px);
}

.site-footer h2 {
  color: #fff;
  font-family: Krub;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
}

.site-footer .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  list-style: none;
}
.site-footer .list-row {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  color: var(--color-white-100, #fff);
  font-family: "Font Awesome";
  font-size: var(--type-24, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.site-footer a {
  color: #fff;
  text-align: center;
  font-family: Krub;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.site-footer .liens {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 100px;
}

.site-footer .lien {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  list-style: none;
}

.site-footer .lien a,
p {
  text-decoration: none;
  color: var(--color-white-100, #fff);
  font-family: Krub;
  font-size: var(--type-12, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Artiste */

.artiste-header {
  background: url(../image/background/Justice.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

.artiste-header .introdution {
  right: 160px;
}

.artiste-header .introdution h1 {
  font-size: 245px;
  letter-spacing: 24.5px;
}
.artiste-header .intro p {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
}

.bio-artiste {
  display: flex;
  padding: 120px 160px;
  flex-direction: column;
  justify-content: center;
  gap: var(--espace-40, 60px);
  background-color: #0a0a0a;
}

.bio-artiste .lien {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.bio-artiste h2 {
  color: #fff;
  font-family: Krub;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.bio-artiste .info-artiste {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.bio-artiste .info-artiste .intro {
  font-family: Krub;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 32.4px */
}

.bio-artiste .info-artiste .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bio-artiste .info-artiste .info p {
  font-family: Krub;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 24.3px */
}

.artiste-page .releases {
  padding: 120px 0px 120px;
}

.forms.blue.reverse {
  background-color: var(--color-bleu-100, #e13100);
  transform: scaleY(-1);
  margin-top: -1px;
  background-color: #0a0a0a;
}
